caldav
django-encrypted-model-fields
django-friendly-tag-loader
django-markdownify
django-pipeline
django-simple-csp
django-token-bucket>=0.2.2
django-widget-tweaks
django<4.1
icalendar
libsasscompiler
mozilla-django-oidc
pytz
